@{
    Layout = null;
    var usr = new User();
    try{
        usr = (Lesson3A.Models.User)Model.data;
    }catch(Exception ex){
        usr = null;
    }
}

@if(Model.success){
    <div>
        <h1>Successfully regisered new User !!!</h1>
        <p>
            Welcome, <strong>@usr.Fullname</strong>!!<br/>
            Your ID:@usr.Id.ToString()!!<br/>
            Your Username:@usr.Username.ToString()!!<br/>
            Your Pass:@usr.Password.ToString()!!<br/>
            Your City:@usr.City.ToString()!!<br/>
            Your State:@usr.State.ToString()!!<br/>
            Your ZipCode:@usr.Zip.ToString()!!<br/>
        </p>
        <p>
            Go back to<a href="@Url.Action("Index","Login")">Home Page</a>to login!!
        </p>
    </div>
}
else{
    <div>
        <h2 style="color:red;font-family:Arial">Error!!!</h2>
        <p style="color:greenyellow;font-style:italic;font-family:Arial;font-weight:bold">@Model.message</p>
    </div>
}